.mobile-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 48px;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 796px;
    background-color: var(--bg-cl-cards);
    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu-contacts__list {
  text-decoration: none;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-top: 305px;
  margin-bottom: 32px;
}

.mobile-menu-socials__list {
  margin-top: 64px;

  list-style: none;
  display: flex;
}

.mobile-menu-socials__item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  // // padding-left: 10px;
  // padding-right: 10px;
  &:not(:first-child) {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}
