.socials {
  display: inline-flex;
  margin: 16px 122px 0 122px;
  padding: 0;
  @media screen and (min-width: 768px) {
    margin: 16px 74px 0 74px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 30px;
    padding: 0;
  }
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials-container {
  display: inline-block;
  padding: 60px 122px;
  @media screen and (min-width: 768px) {
    padding: 0;
    display: block;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 70px;
    width: 212px;
  }
}

.footer-socials__list {
  display: block;
  padding: 0;
  display: inline-flex;
  margin-top: 20px;
}
